## COVID-19 Dashboard

### Introduction
* This code to retrieves COVID-19 data (updated daily) from Johns Hopkins University's [GitHub repo](https://github.com/CSSEGISandData) and prepares it for use in Tableau
* You can find my COVID-19 dashboard here: [COVID-19 Dashboard](https://public.tableau.com/profile/alfred.zou#!/vizhome/COVID-19_15852011851070/COVID-19)
* Please feel free to download and play around with it. It runs faster in Tableau public than online

### Main Features
* Timeline of COVID-19 confirmed cases
* Comparison of new confirmed cases and deaths between countries and states
* The number of active cases vs. available ICU beds for some countries

### Data Sources
* Data on coronavirus cases from Johns Hopkins University's [githup repo](https://github.com/CSSEGISandData)
* Population estimates from [worldometers](https://www.worldometers.info/world-population/population-by-country/)
* US ICU beds estimate from [AHA 2015 Annual Survey](https://www.sccm.org/Communications/Critical-Care-Statistics)
* Mexico ICU beds estimate from [apnews](https://apnews.com/ff99a460e304ffc67ab03d8a57b2e1ef)
* Australia and NZ ICU beds estimate from [ANZICS 2018 report](https://www.anzics.com.au/wp-content/uploads/2019/10/2018-ANZICS-CORE-Report.pdf)
* ICU beds estimate from 2012 academic paper ['The variability of critical care bed numbers in Europe'](https://link.springer.com/article/10.1007/s00134-012-2627-8/tables/2) by Rhodes et al. 
* ICU beds estimate from 2020 academic paper ['Critical Care Bed Capacity in Asian Countries and Regions'](https://www.researchgate.net/figure/Number-of-Critical-Care-Beds_tbl1_338520008) by Phua et al.
* % Populations over 65 per country (2019) from [worldbank](https://data.worldbank.org/indicator/SP.POP.65UP.TO.ZS)
* Number of Doctors and Nurses per 10,000 people per country from 2015 [WHO's World Health Stasticis report]( https://apps.who.int/iris/bitstream/handle/10665/170250/9789240694439_eng.pdf;jsessionid=FC99DC52822E45FBA833E47587CB567E?sequence=1)

### Code to extract and tranform data for Tableu

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# Increase maximum rows displayed in pandas DataFrame
pd.set_option('display.max_rows', 9999)
pd.set_option('display.max_columns', 50)

In [3]:
# data from John Hopkin's University
# The data is a time series of confirmed cases and deaths
confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data" \
                      "/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
confirmed_deaths_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data" \
             "/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
confirmed_recovered_url ="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data" \
            "/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [4]:
# Daily anity check if the erroneous data has been removed
foo = pd.read_csv(confirmed_cases_url)
foo[foo['Province/State']=='Recovered']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,...,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20
238,Recovered,Canada,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [5]:
# Daily sanity check if the erroneous data has been removed
foo[foo['Province/State'].apply(str).str.contains('[Pp]rincess')]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,2/7/20,2/8/20,2/9/20,2/10/20,2/11/20,...,4/16/20,4/17/20,4/18/20,4/19/20,4/20/20,4/21/20,4/22/20,4/23/20,4/24/20,4/25/20,4/26/20,4/27/20,4/28/20,4/29/20,4/30/20,5/1/20,5/2/20,5/3/20,5/4/20,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20
37,Grand Princess,Canada,37.6489,-122.6655,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
231,Diamond Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1

In [6]:
# Remove erroneous Canada data
confirmed_cases = pd.read_csv(confirmed_cases_url)
confirmed_cases.drop(confirmed_cases[confirmed_cases['Province/State']=='Recovered'].index,inplace=True)
confirmed_cases.drop(confirmed_cases[confirmed_cases['Province/State']=='Diamond Princess'].index,inplace=True)

# Convert Province/State data to Country/Region data for Canada to match recoverd.csv 
foo = confirmed_cases.drop(columns=['Province/State','Lat','Long'])[confirmed_cases['Country/Region']=='Canada'].groupby('Country/Region').sum()
foo.insert(0,'Province/State',np.nan)
foo.insert(1,'Country/Region','Canada')
foo.insert(2,'Lat',pd.read_csv(confirmed_recovered_url).loc[pd.read_csv(confirmed_recovered_url)['Country/Region']=='Canada','Lat'].values)
foo.insert(3,'Long',pd.read_csv(confirmed_recovered_url).loc[pd.read_csv(confirmed_recovered_url)['Country/Region']=='Canada','Long'].values)
foo.reset_index(drop=True,inplace=True)
confirmed_cases.drop(confirmed_cases[confirmed_cases['Country/Region']=='Canada'].index,inplace=True)
confirmed_cases = pd.concat([confirmed_cases,foo])

# Melt into long format 
confirmed_cases = confirmed_cases.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date',value_name='Confirmed Cases')
confirmed_cases['Date']=pd.to_datetime(confirmed_cases['Date'],format='%m/%d/%y')
confirmed_cases.sort_values(['Country/Region','Province/State','Date'],inplace=True)
confirmed_cases.reset_index(drop=True,inplace=True)
confirmed_cases

      Province/State Country/Region   Lat  Long       Date  Confirmed Cases
0                NaN    Afghanistan  33.0  65.0 2020-01-22                0
1                NaN    Afghanistan  33.0  65.0 2020-01-23                0
2                NaN    Afghanistan  33.0  65.0 2020-01-24                0
3                NaN    Afghanistan  33.0  65.0 2020-01-25                0
4                NaN    Afghanistan  33.0  65.0 2020-01-26                0
...              ...            ...   ...   ...        ...              ...
27715            NaN       Zimbabwe -20.0  30.0 2020-05-06               34
27716            NaN       Zimbabwe -20.0  30.0 2020-05-07               34
27717            NaN       Zimbabwe -20.0  30.0 2020-05-08               34
27718            NaN       Zimbabwe -20.0  30.0 2020-05-09               35
27719            NaN       Zimbabwe -20.0  30.0 2020-05-10               36

[27720 rows x 6 columns]

In [7]:
# Remove erroneous Canada data
confirmed_deaths = pd.read_csv(confirmed_deaths_url)
confirmed_deaths.drop(confirmed_deaths[confirmed_deaths['Province/State']=='Recovered'].index,inplace=True)
confirmed_deaths.drop(confirmed_deaths[confirmed_deaths['Province/State']=='Diamond Princess'].index,inplace=True)

# Convert Province/State data to Country/Region data for Canada to match recoverd.csv 
foo = confirmed_deaths.drop(columns=['Province/State','Lat','Long'])[confirmed_deaths['Country/Region']=='Canada'].groupby('Country/Region').sum()
foo.insert(0,'Province/State',np.nan)
foo.insert(1,'Country/Region','Canada')
foo.insert(2,'Lat',pd.read_csv(confirmed_recovered_url).loc[pd.read_csv(confirmed_recovered_url)['Country/Region']=='Canada','Lat'].values)
foo.insert(3,'Long',pd.read_csv(confirmed_recovered_url).loc[pd.read_csv(confirmed_recovered_url)['Country/Region']=='Canada','Long'].values)
foo.reset_index(drop=True,inplace=True)
confirmed_deaths.drop(confirmed_deaths[confirmed_deaths['Country/Region']=='Canada'].index,inplace=True)
confirmed_deaths = pd.concat([confirmed_deaths,foo])

# Melt into long format 
confirmed_deaths = confirmed_deaths.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date',value_name='Confirmed Deaths')
confirmed_deaths['Date']=pd.to_datetime(confirmed_deaths['Date'],format='%m/%d/%y')
confirmed_deaths.sort_values(['Country/Region','Province/State','Date'],inplace=True)
confirmed_deaths.reset_index(drop=True,inplace=True)
confirmed_deaths

      Province/State Country/Region   Lat  Long       Date  Confirmed Deaths
0                NaN    Afghanistan  33.0  65.0 2020-01-22                 0
1                NaN    Afghanistan  33.0  65.0 2020-01-23                 0
2                NaN    Afghanistan  33.0  65.0 2020-01-24                 0
3                NaN    Afghanistan  33.0  65.0 2020-01-25                 0
4                NaN    Afghanistan  33.0  65.0 2020-01-26                 0
...              ...            ...   ...   ...        ...               ...
27715            NaN       Zimbabwe -20.0  30.0 2020-05-06                 4
27716            NaN       Zimbabwe -20.0  30.0 2020-05-07                 4
27717            NaN       Zimbabwe -20.0  30.0 2020-05-08                 4
27718            NaN       Zimbabwe -20.0  30.0 2020-05-09                 4
27719            NaN       Zimbabwe -20.0  30.0 2020-05-10                 4

[27720 rows x 6 columns]

In [8]:
# Load data and remove wrong data
confirmed_recovered = pd.read_csv(confirmed_recovered_url)

# Fix up some mis matched cordinates with confirmed cases and deaths csv
foo = ['Mozambique','Syria', 'Timor-Leste']
bar = pd.read_csv(confirmed_deaths_url)
for country in foo:
    mask = confirmed_recovered['Country/Region']==country
    mask2 = bar['Country/Region']==country
    confirmed_recovered.loc[mask,'Lat']=bar.loc[mask2,'Lat'].values
    confirmed_recovered.loc[mask,'Long']=bar.loc[mask2,'Long'].values

# Melt into long form
confirmed_recovered = confirmed_recovered.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name='Date',value_name='Confirmed Recovered')
confirmed_recovered['Date']=pd.to_datetime(confirmed_recovered['Date'],format='%m/%d/%y')
confirmed_recovered.sort_values(['Country/Region','Province/State','Date'],inplace=True)
confirmed_recovered.reset_index(drop=True,inplace=True)
confirmed_recovered

,Province/State,Country/Region,Lat,Long,Date,Confirmed Recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0
...,...,...,...,...,...,...
27715,NaN,Zimbabwe,-20.0,30.0,2020-05-06,5
27716,NaN,Zimbabwe,-20.0,30.0,2020-05-07,5
27717,NaN,Zimbabwe,-20.0,30.0,2020-05-08,9
27718,NaN,Zimbabwe,-20.0,30.0,2020-05-09,9
27719,NaN,Zimbabwe,-20.0,30.0,2020-05-10,9

In [9]:
# Join the data together
confirmed_cases_deaths = confirmed_cases.merge(confirmed_deaths)
confirmed_cases_deaths = confirmed_cases_deaths.merge(confirmed_recovered,how='outer')
confirmed_cases_deaths

,Province/State,Country/Region,Lat,Long,Date,Confirmed Cases,Confirmed Deaths,Confirmed Recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,0
...,...,...,...,...,...,...,...,...
27715,NaN,Zimbabwe,-20.0,30.0,2020-05-06,34,4,5
27716,NaN,Zimbabwe,-20.0,30.0,2020-05-07,34,4,5
27717,NaN,Zimbabwe,-20.0,30.0,2020-05-08,34,4,9
27718,NaN,Zimbabwe,-20.0,30.0,2020-05-09,35,4,9
27719,NaN,Zimbabwe,-20.0,30.0,2020-05-10,36,4,9

In [10]:
# Check for any nulls from outer joins
mask = ['Date','Lat','Long','Province/State','Country/Region','Confirmed Cases','Confirmed Deaths','Confirmed Recovered']
mask2 = ['Confirmed Recovered','Confirmed Cases']
confirmed_cases_deaths.loc[confirmed_cases_deaths[mask2].isnull().any(axis=1),mask]

Empty DataFrame
Columns: [Date, Lat, Long, Province/State, Country/Region, Confirmed Cases, Confirmed Deaths, Confirmed Recovered]
Index: []

In [11]:
# Create arrays of unique country_region and province_state pairs to iterate through
countries_regions = confirmed_cases_deaths['Country/Region'].unique() 
provinces_states = confirmed_cases_deaths['Province/State'].unique()

# Create new columns
# Because countries will outbreak at different times, it is recommended to compare them on a common time scale; such as the days since 100 confirmed cases for each country
# Hence the new column Days_Since_100. A day of 1 means 1 day after reaching 100 confirmed cases
# New_Cases and New_Deaths column is used to determine the daily number of new confirmed cases and deaths
confirmed_cases_deaths['Days Since 100 Cases'] = 0
confirmed_cases_deaths['New Cases'] = 0
confirmed_cases_deaths['New Deaths'] = 0

# Iterating through each country/region, create a filtering mask
for cr in countries_regions:
    mask1 = confirmed_cases_deaths['Country/Region']== cr
    
    # Iterating through each province/state, create a filtering mask
    for ps in provinces_states:
        # This lets us filter for provinces/states that have a null value
        if type(ps)==float:
            mask2 = confirmed_cases_deaths['Province/State'].isnull()
        else:
            mask2 = confirmed_cases_deaths['Province/State']== ps
        
        # Filtering by applying country/region and province/state mask, find the difference between the Confirmed cases to get the new daily cases and deaths
        confirmed_cases_deaths.loc[mask1 & mask2,'New Cases'] =confirmed_cases_deaths.loc[mask1 & mask2,'Confirmed Cases'].diff()
        confirmed_cases_deaths.loc[mask1 & mask2,'New Deaths'] =confirmed_cases_deaths.loc[mask1 & mask2,'Confirmed Deaths'].diff()
        
        # Initialise empty count values
        # These will reset with each province/state
        count = 0     
        
        # For each row in the filtered df, check if the Confirmed cases have passed each threshold
        # If so, apply an accumalating count
        # If not, assign np.nan
        for row in confirmed_cases_deaths.loc[mask1 & mask2,'Confirmed Cases'].index:                        
            if confirmed_cases_deaths.loc[row,'Confirmed Cases'] > 100:
                confirmed_cases_deaths.loc[row,'Days Since 100 Cases'] = count
                count += 1
            else:
                confirmed_cases_deaths.loc[row,'Days Since 100 Cases'] = np.nan
            
# Because the first row in new_cases is always going to be null using .diff(), assign new_cases = confirmed_cases_deaths for first row (or null) values
nan_mask = confirmed_cases_deaths['New Cases'].isnull()
confirmed_cases_deaths.loc[nan_mask,'New Cases'] = confirmed_cases_deaths['Confirmed Cases']
nan_mask = confirmed_cases_deaths['New Deaths'].isnull()
confirmed_cases_deaths.loc[nan_mask,'New Deaths'] = confirmed_cases_deaths['Confirmed Deaths']
# Convert floats into ints
confirmed_cases_deaths['New Cases']=pd.to_numeric(confirmed_cases_deaths['New Cases'],downcast='signed')

In [12]:
# Sanity check the Days Since X Cases
mask1 = confirmed_cases_deaths['Country/Region']== 'China'
mask2 = confirmed_cases_deaths['Province/State']== confirmed_cases_deaths.loc[mask1,'Province/State'].unique()[-1]
confirmed_cases_deaths.loc[mask1 & mask2]

,Province/State,Country/Region,Lat,Long,Date,Confirmed Cases,Confirmed Deaths,Confirmed Recovered,Days Since 100 Cases,New Cases,New Deaths
8250,Zhejiang,China,29.1832,120.0934,2020-01-22,10,0,0,NaN,10,0.0
8251,Zhejiang,China,29.1832,120.0934,2020-01-23,27,0,0,NaN,17,0.0
8252,Zhejiang,China,29.1832,120.0934,2020-01-24,43,0,1,NaN,16,0.0
8253,Zhejiang,China,29.1832,120.0934,2020-01-25,62,0,1,NaN,19,0.0
8254,Zhejiang,China,29.1832,120.0934,2020-01-26,104,0,1,0.0,42,0.0
8255,Zhejiang,China,29.1832,120.0934,2020-01-27,128,0,1,1.0,24,0.0
8256,Zhejiang,China,29.1832,120.0934,2020-01-28,173,0,3,2.0,45,0.0
8257,Zhejiang,China,29.1832,120.0934,2020-01-29,296,0,3,3.0,123,0.0
8258,Zhejiang,China,29.1832,120.0934,2020-01-30,428,0,4,4.0,132,0.0
8259,Zhejiang,China,29.1832,120.0934,2020-01-31,538,0,14,5.0,110,0.0
8260,Zhejiang,China,29.1832,120.0934,2020-02-01,599,0,21,6.0,61,0.0
8261,Zhejiang,China,29.1832,120.0934,2020-02-02,661,0,32,7.0,62,0.0
8262,Zhejiang,China,29.1832,120.0934,2020-02-03,724,0,43,8.0,63,0.0
8263,Zhejiang,China,29.1832,120.0934,2020-02-04,829,0,62,9.0,105,0.0
8264,Zhejiang,China,29.1832,120.0934,2020-02-05,895,0,78,10.0,66,0.0
8265,Zhejiang,China,29.1832,120.0934,2020-02-06,954,0,94,11.0,59,0.0
8266,Zhejiang,China,29.1832,120.0934,2020-02-07,1006,0,123,12.0,52,0.0
8267,Zhejiang,China,29.1832,120.0934,2020-02-08,1048,0,175,13.0,42,0.0
8268,Zhejiang,China,29.1832,120.0934,2020-02-09,1075,0,201,14.0,27,0.0
8269,Zhejiang,China,29.1832,120.0934,2020-02-10,1092,0,242,15.0,17,0.0
8270,Zhejiang,China,29.1832,120.0934,2020-02-11,1117,0,270,16.0,25,0.0
8271,Zhejiang,China,29.1832,120.0934,2020-02-12,1131,0,321,17.0,14,0.0
8272,Zhejiang,China,29.1832,120.0934,2020-02-13,1145,0,360,18.0,14,0.0
8273,Zhejiang,China,29.1832,120.0934,2020-02-14,1155,0,403,19.0,10,0.0
8274,Zhejiang,China,29.1832,120.0934,2020-02-15,1162,0,428,20.0,7,0.0
8275,Zhejiang,China,29.1832,120.0934,2020-02-16,1167,0,456,21.0,5,0.0
8276,Zhejiang,China,29.1832,120.0934,2020-02-17,1171,0,507,22.0,4,0.0
8277,Zhejiang,China,29.1832,120.0934,2020-02-18,1172,0,535,23.0,1,0.0
8278,Zhejiang,China,29.1832,120.0934,2020-02-19,1174,0,604,24.0,2,0.0
8279,Zhejiang,China,29.1832,120.0934,2020-02-20,1175,1,633,25.0,1,1.0
8280,Zhejiang,China,29.1832,120.0934,2020-02-21,1203,1,679,26.0,28,0.0
8281,Zhejiang,China,29.1832,120.0934,2020-02-22,1205,1,719,27.0,2,0.0
8282,Zhejiang,China,29.1832,120.0934,2020-02-23,1205,1,760,28.0,0,0.0
8283,Zhejiang,China,29.1832,120.0934,2020-02-24,1205,1,782,29.0,0,0.0
8284,Zhejiang,China,29.1832,120.0934,2020-02-25,1205,1,808,30.0,0,0.0
8285,Zhejiang,China,29.1832,120.0934,2020-02-26,1205,1,867,31.0,0,0.0
8286,Zhejiang,China,29.1832,120.0934,2020-02-27,1205,1,932,32.0,0,0.0
8287,Zhejiang,China,29.1832,120.0934,2020-02-28,1205,1,975,33.0,0,0.0
8288,Zhejiang,China,29.1832,120.0934,2020-02-29,1205,1,1016,34.0,0,0.0
8289,Zhejiang,China,29.1832,120.0934,2020-03-01,1205,1,1046,35.0,0,0.0
8290,Zhejiang,China,29.1832,120.0934,2020-03-02,1206,1,1069,36.0,1,0.0
8291,Zhejiang,China,29.1832,120.0934,2020-03-03,1213,1,1093,37.0,7,0.0
8292,Zhejiang,China,29.1832,120.0934,2020-03-04,1213,1,1114,38.0,0,0.0
8293,Zhejiang,China,29.1832,120.0934,2020-03-05,1215,1,1124,39.0,2,0.0
8294,Zhejiang,China,29.1832,120.0934,2020-03-06,1215,1,1147,40.0,0,0.0
8295,Zhejiang,China,29.1832,120.0934,2020-03-07,1215,1,1154,41.0,0,0.0
8296,Zhejiang,China,29.1832,120.0934,2020-03-08,1215,1,1161,42.0,0,0.0
8297,Zhejiang,China,29.1832,120.0934,2020-03-09,1215,1,1176,43.0,0,0.0
8298,Zhejiang,China,29.1832,120.0934,2020-03-10,1215,1,1191,44.0,0,0.0
8299,Zhejiang,China,29.1832,120.0934,2020-03-11,1215,1,1195,45.0,0,0.0
8300,Zhejiang,China,29.1832,120.0934,2020-03-12,1215,1,1197,46.0,0,0.0
8301,Zhejiang,China,29.1832,120.0934,2020-03-13,1215,1,1197,47.0,0,0.0
8302,Zhejiang,China,29.1832,120.0934,2020-03-14,1227,1,1211,48.0,12,0.0
8303,Zhejiang,China,29.1832,120.0934,2020-03-15,1231,1,1211,49.0,4,0.0
8304,Zhejiang,China,29.1832,120.0934,2020-03-16,1231,1,1216,50.0,0,0.0
8305,Zhejiang,China,29.1832,120.0934,2020-03-17,1232,1,1216,51.0,1,0.0
8306,Zhejiang,China,29.1832,120.0934,2020-03-18,1232,1,1216,52.0,0,0.0
8307,Zhejiang,China,29.1832,120.0934,2020-03-19,1233,1,1217,53.0,1,0.0
8308,Zhejiang,China,29.1832,120.0934,2020-03-20,1234,1,1219,54.0,1,0.0
8309,Zhejiang,China,29.1832,120.0934,2020-03-21,1236,1,1219,55.0,2,0.0
8310,Zhejiang,China,29.1832,120.0934,2020-03-22,1238,1,1219,56.0,2,0.0
8311,Zhejiang,China,29.1832,120.0934,2020-03-23,1238,1,1221,57.0,0,0.0
8312,Zhejiang,China,29.1832,120.0934,2020-03-24,1240,1,1221,58.0,2,0.0
8313,Zhejiang,China,29.1832,120.0934,2020-03-25,1241,1,1221,59.0,1,0.0
8314,Zhejiang,China,29.1832,120.0934,2020-03-26,1243,1,1222,60.0,2,0.0
8315,Zhejiang,China,29.1832,120.0934,2020-03-27,1247,1,1222,61.0,4,0.0
8316,Zhejiang,China,29.1832,120.0934,2020-03-28,1251,1,1225,62.0,4,0.0
8317,Zhejiang,China,29.1832,120.0934,2020-03-29,1254,1,1225,63.0,3,0.0
8318,Zhejiang,China,29.1832,120.0934,2020-03-30,1255,1,1225,64.0,1,0.0
8319,Zhejiang,China,29.1832,120.0934,2020-03-31,1257,1,1226,65.0,2,0.0
8320,Zhejiang,China,29.1832,120.0934,2020-04-01,1257,1,1226,66.0,0,0.0
8321,Zhejiang,China,29.1832,120.0934,2020-04-02,1258,1,1228,67.0,1,0.0
8322,Zhejiang,China,29.1832,120.0934,2020-04-03,1260,1,1228,68.0,2,0.0
8323,Zhejiang,China,29.1832,120.0934,2020-04-04,1262,1,1229,69.0,2,0.0
8324,Zhejiang,China,29.1832,120.0934,2020-04-05,1263,1,1230,70.0,1,0.0
8325,Zhejiang,China,29.1832,120.0934,2020-04-06,1264,1,1230,71.0,1,0.0
8326,Zhejiang,China,29.1832,120.0934,2020-04-07,1265,1,1230,72.0,1,0.0
8327,Zhejiang,China,29.1832,120.0934,2020-04-08,1266,1,1232,73.0,1,0.0
8328,Zhejiang,China,29.1832,120.0934,2020-04-09,1267,1,1235,74.0,1,0.0
8329,Zhejiang,China,29.1832,120.0934,2020-04-10,1267,1,1235,75.0,0,0.0
8330,Zhejiang,China,29.1832,120.0934,2020-04-11,1267,1,1236,76.0,0,0.0
8331,Zhejiang,China,29.1832,120.0934,2020-04-12,1267,1,1238,77.0,0,0.0
8332,Zhejiang,China,29.1832,120.0934,2020-04-13,1267,1,1239,78.0,0,0.0
8333,Zhejiang,China,29.1832,120.0934,2020-04-14,1267,1,1242,79.0,0,0.0
8334,Zhejiang,China,29.1832,120.0934,2020-04-15,1268,1,1244,80.0,1,0.0
8335,Zhejiang,China,29.1832,120.0934,2020-04-16,1268,1,1244,81.0,0,0.0
8336,Zhejiang,China,29.1832,120.0934,2020-04-17,1268,1,1246,82.0,0,0.0
8337,Zhejiang,China,29.1832,120.0934,2020-04-18,1268,1,1246,83.0,0,0.0
8338,Zhejiang,China,29.1832,120.0934,2020-04-19,1268,1,1247,84.0,0,0.0
8339,Zhejiang,China,29.1832,120.0934,2020-04-20,1268,1,1249,85.0,0,0.0
8340,Zhejiang,China,29.1832,120.0934,2020-04-21,1268,1,1251,86.0,0,0.0
8341,Zhejiang,China,29.1832,120.0934,2020-04-22,1268,1,1252,87.0,0,0.0
8342,Zhejiang,China,29.1832,120.0934,2020-04-23,1268,1,1256,88.0,0,0.0
8343,Zhejiang,China,29.1832,120.0934,2020-04-24,1268,1,1256,89.0,0,0.0
8344,Zhejiang,China,29.1832,120.0934,2020-04-25,1268,1,1257,90.0,0,0.0
8345,Zhejiang,China,29.1832,120.0934,2020-04-26,1268,1,1258,91.0,0,0.0
8346,Zhejiang,China,29.1832,120.0934,2020-04-27,1268,1,1261,92.0,0,0.0
8347,Zhejiang,China,29.1832,120.0934,2020-04-28,1268,1,1262,93.0,0,0.0
8348,Zhejiang,China,29.1832,120.0934,2020-04-29,1268,1,1263,94.0,0,0.0
8349,Zhejiang,China,29.1832,120.0934,2020-04-30,1268,1,1264,95.0,0,0.0
8350,Zhejiang,China,29.1832,120.0934,2020-05-01,1268,1,1265,96.0,0,0.0
8351,Zhejiang,China,29.1832,120.0934,2020-05-02,1268,1,1265,97.0,0,0.0
8352,Zhejiang,China,29.1832,120.0934,2020-05-03,1268,1,1265,98.0,0,0.0
8353,Zhejiang,China,29.1832,120.0934,2020-05-04,1268,1,1267,99.0,0,0.0
8354,Zhejiang,China,29.1832,120.0934,2020-05-05,1268,1,1267,100.0,0,0.0
8355,Zhejiang,China,29.1832,120.0934,2020-05-06,1268,1,1267,101.0,0,0.0
8356,Zhejiang,China,29.1832,120.0934,2020-05-07,1268,1,1267,102.0,0,0.0
8357,Zhejiang,China,29.1832,120.0934,2020-05-08,1268,1,1267,103.0,0,0.0
8358,Zhejiang,China,29.1832,120.0934,2020-05-09,1268,1,1267,104.0,0,0.0
8359,Zhejiang,China,29.1832,120.0934,2020-05-10,1268,1,1267,105.0,0,0.0

In [13]:
# Sanity check the Days Since X Cases
mask1 = confirmed_cases_deaths['Country/Region']== 'India'
confirmed_cases_deaths.loc[mask1]

,Province/State,Country/Region,Lat,Long,Date,Confirmed Cases,Confirmed Deaths,Confirmed Recovered,Days Since 100 Cases,New Cases,New Deaths
14300,NaN,India,21.0,78.0,2020-01-22,0,0,0,NaN,0,0.0
14301,NaN,India,21.0,78.0,2020-01-23,0,0,0,NaN,0,0.0
14302,NaN,India,21.0,78.0,2020-01-24,0,0,0,NaN,0,0.0
14303,NaN,India,21.0,78.0,2020-01-25,0,0,0,NaN,0,0.0
14304,NaN,India,21.0,78.0,2020-01-26,0,0,0,NaN,0,0.0
14305,NaN,India,21.0,78.0,2020-01-27,0,0,0,NaN,0,0.0
14306,NaN,India,21.0,78.0,2020-01-28,0,0,0,NaN,0,0.0
14307,NaN,India,21.0,78.0,2020-01-29,0,0,0,NaN,0,0.0
14308,NaN,India,21.0,78.0,2020-01-30,1,0,0,NaN,1,0.0
14309,NaN,India,21.0,78.0,2020-01-31,1,0,0,NaN,0,0.0
14310,NaN,India,21.0,78.0,2020-02-01,1,0,0,NaN,0,0.0
14311,NaN,India,21.0,78.0,2020-02-02,2,0,0,NaN,1,0.0
14312,NaN,India,21.0,78.0,2020-02-03,3,0,0,NaN,1,0.0
14313,NaN,India,21.0,78.0,2020-02-04,3,0,0,NaN,0,0.0
14314,NaN,India,21.0,78.0,2020-02-05,3,0,0,NaN,0,0.0
14315,NaN,India,21.0,78.0,2020-02-06,3,0,0,NaN,0,0.0
14316,NaN,India,21.0,78.0,2020-02-07,3,0,0,NaN,0,0.0
14317,NaN,India,21.0,78.0,2020-02-08,3,0,0,NaN,0,0.0
14318,NaN,India,21.0,78.0,2020-02-09,3,0,0,NaN,0,0.0
14319,NaN,India,21.0,78.0,2020-02-10,3,0,0,NaN,0,0.0
14320,NaN,India,21.0,78.0,2020-02-11,3,0,0,NaN,0,0.0
14321,NaN,India,21.0,78.0,2020-02-12,3,0,0,NaN,0,0.0
14322,NaN,India,21.0,78.0,2020-02-13,3,0,0,NaN,0,0.0
14323,NaN,India,21.0,78.0,2020-02-14,3,0,0,NaN,0,0.0
14324,NaN,India,21.0,78.0,2020-02-15,3,0,0,NaN,0,0.0
14325,NaN,India,21.0,78.0,2020-02-16,3,0,3,NaN,0,0.0
14326,NaN,India,21.0,78.0,2020-02-17,3,0,3,NaN,0,0.0
14327,NaN,India,21.0,78.0,2020-02-18,3,0,3,NaN,0,0.0
14328,NaN,India,21.0,78.0,2020-02-19,3,0,3,NaN,0,0.0
14329,NaN,India,21.0,78.0,2020-02-20,3,0,3,NaN,0,0.0
14330,NaN,India,21.0,78.0,2020-02-21,3,0,3,NaN,0,0.0
14331,NaN,India,21.0,78.0,2020-02-22,3,0,3,NaN,0,0.0
14332,NaN,India,21.0,78.0,2020-02-23,3,0,3,NaN,0,0.0
14333,NaN,India,21.0,78.0,2020-02-24,3,0,3,NaN,0,0.0
14334,NaN,India,21.0,78.0,2020-02-25,3,0,3,NaN,0,0.0
14335,NaN,India,21.0,78.0,2020-02-26,3,0,3,NaN,0,0.0
14336,NaN,India,21.0,78.0,2020-02-27,3,0,3,NaN,0,0.0
14337,NaN,India,21.0,78.0,2020-02-28,3,0,3,NaN,0,0.0
14338,NaN,India,21.0,78.0,2020-02-29,3,0,3,NaN,0,0.0
14339,NaN,India,21.0,78.0,2020-03-01,3,0,3,NaN,0,0.0
14340,NaN,India,21.0,78.0,2020-03-02,5,0,3,NaN,2,0.0
14341,NaN,India,21.0,78.0,2020-03-03,5,0,3,NaN,0,0.0
14342,NaN,India,21.0,78.0,2020-03-04,28,0,3,NaN,23,0.0
14343,NaN,India,21.0,78.0,2020-03-05,30,0,3,NaN,2,0.0
14344,NaN,India,21.0,78.0,2020-03-06,31,0,3,NaN,1,0.0
14345,NaN,India,21.0,78.0,2020-03-07,34,0,3,NaN,3,0.0
14346,NaN,India,21.0,78.0,2020-03-08,39,0,3,NaN,5,0.0
14347,NaN,India,21.0,78.0,2020-03-09,43,0,3,NaN,4,0.0
14348,NaN,India,21.0,78.0,2020-03-10,56,0,4,NaN,13,0.0
14349,NaN,India,21.0,78.0,2020-03-11,62,1,4,NaN,6,1.0
14350,NaN,India,21.0,78.0,2020-03-12,73,1,4,NaN,11,0.0
14351,NaN,India,21.0,78.0,2020-03-13,82,2,4,NaN,9,1.0
14352,NaN,India,21.0,78.0,2020-03-14,102,2,4,0.0,20,0.0
14353,NaN,India,21.0,78.0,2020-03-15,113,2,13,1.0,11,0.0
14354,NaN,India,21.0,78.0,2020-03-16,119,2,13,2.0,6,0.0
14355,NaN,India,21.0,78.0,2020-03-17,142,3,14,3.0,23,1.0
14356,NaN,India,21.0,78.0,2020-03-18,156,3,14,4.0,14,0.0
14357,NaN,India,21.0,78.0,2020-03-19,194,4,15,5.0,38,1.0
14358,NaN,India,21.0,78.0,2020-03-20,244,5,20,6.0,50,1.0
14359,NaN,India,21.0,78.0,2020-03-21,330,4,23,7.0,86,-1.0
14360,NaN,India,21.0,78.0,2020-03-22,396,7,27,8.0,66,3.0
14361,NaN,India,21.0,78.0,2020-03-23,499,10,27,9.0,103,3.0
14362,NaN,India,21.0,78.0,2020-03-24,536,10,40,10.0,37,0.0
14363,NaN,India,21.0,78.0,2020-03-25,657,12,43,11.0,121,2.0
14364,NaN,India,21.0,78.0,2020-03-26,727,20,45,12.0,70,8.0
14365,NaN,India,21.0,78.0,2020-03-27,887,20,73,13.0,160,0.0
14366,NaN,India,21.0,78.0,2020-03-28,987,24,84,14.0,100,4.0
14367,NaN,India,21.0,78.0,2020-03-29,1024,27,95,15.0,37,3.0
14368,NaN,India,21.0,78.0,2020-03-30,1251,32,102,16.0,227,5.0
14369,NaN,India,21.0,78.0,2020-03-31,1397,35,123,17.0,146,3.0
14370,NaN,India,21.0,78.0,2020-04-01,1998,58,148,18.0,601,23.0
14371,NaN,India,21.0,78.0,2020-04-02,2543,72,191,19.0,545,14.0
14372,NaN,India,21.0,78.0,2020-04-03,2567,72,192,20.0,24,0.0
14373,NaN,India,21.0,78.0,2020-04-04,3082,86,229,21.0,515,14.0
14374,NaN,India,21.0,78.0,2020-04-05,3588,99,229,22.0,506,13.0
14375,NaN,India,21.0,78.0,2020-04-06,4778,136,375,23.0,1190,37.0
14376,NaN,India,21.0,78.0,2020-04-07,5311,150,421,24.0,533,14.0
14377,NaN,India,21.0,78.0,2020-04-08,5916,178,506,25.0,605,28.0
14378,NaN,India,21.0,78.0,2020-04-09,6725,226,620,26.0,809,48.0
14379,NaN,India,21.0,78.0,2020-04-10,7598,246,774,27.0,873,20.0
14380,NaN,India,21.0,78.0,2020-04-11,8446,288,969,28.0,848,42.0
14381,NaN,India,21.0,78.0,2020-04-12,9205,331,1080,29.0,759,43.0
14382,NaN,India,21.0,78.0,2020-04-13,10453,358,1181,30.0,1248,27.0
14383,NaN,India,21.0,78.0,2020-04-14,11487,393,1359,31.0,1034,35.0
14384,NaN,India,21.0,78.0,2020-04-15,12322,405,1432,32.0,835,12.0
14385,NaN,India,21.0,78.0,2020-04-16,13430,448,1768,33.0,1108,43.0
14386,NaN,India,21.0,78.0,2020-04-17,14352,486,2041,34.0,922,38.0
14387,NaN,India,21.0,78.0,2020-04-18,15722,521,2463,35.0,1370,35.0
14388,NaN,India,21.0,78.0,2020-04-19,17615,559,2854,36.0,1893,38.0
14389,NaN,India,21.0,78.0,2020-04-20,18539,592,3273,37.0,924,33.0
14390,NaN,India,21.0,78.0,2020-04-21,20080,645,3975,38.0,1541,53.0
14391,NaN,India,21.0,78.0,2020-04-22,21370,681,4370,39.0,1290,36.0
14392,NaN,India,21.0,78.0,2020-04-23,23077,721,5012,40.0,1707,40.0
14393,NaN,India,21.0,78.0,2020-04-24,24530,780,5498,41.0,1453,59.0
14394,NaN,India,21.0,78.0,2020-04-25,26283,825,5939,42.0,1753,45.0
14395,NaN,India,21.0,78.0,2020-04-26,27890,881,6523,43.0,1607,56.0
14396,NaN,India,21.0,78.0,2020-04-27,29451,939,7137,44.0,1561,58.0
14397,NaN,India,21.0,78.0,2020-04-28,31324,1008,7747,45.0,1873,69.0
14398,NaN,India,21.0,78.0,2020-04-29,33062,1079,8437,46.0,1738,71.0
14399,NaN,India,21.0,78.0,2020-04-30,34863,1154,9068,47.0,1801,75.0
14400,NaN,India,21.0,78.0,2020-05-01,37257,1223,10007,48.0,2394,69.0
14401,NaN,India,21.0,78.0,2020-05-02,39699,1323,10819,49.0,2442,100.0
14402,NaN,India,21.0,78.0,2020-05-03,42505,1391,11775,50.0,2806,68.0
14403,NaN,India,21.0,78.0,2020-05-04,46437,1566,12847,51.0,3932,175.0
14404,NaN,India,21.0,78.0,2020-05-05,49400,1693,14142,52.0,2963,127.0
14405,NaN,India,21.0,78.0,2020-05-06,52987,1785,15331,53.0,3587,92.0
14406,NaN,India,21.0,78.0,2020-05-07,56351,1889,16776,54.0,3364,104.0
14407,NaN,India,21.0,78.0,2020-05-08,59695,1985,17887,55.0,3344,96.0
14408,NaN,India,21.0,78.0,2020-05-09,62808,2101,19301,56.0,3113,116.0
14409,NaN,India,21.0,78.0,2020-05-10,67161,2212,20969,57.0,4353,111.0

In [14]:
# Load in data which maps countries to continents
continent_countries = pd.read_excel('Countries.xlsx',usecols = ['Continent','Country','ICU Beds','Doctors per 10000','Nurses per 10000','ICU Beds per 100000'])

In [15]:
# Map the continents to the countries
confirmed_cases_deaths = confirmed_cases_deaths.merge(continent_countries,how='left',left_on='Country/Region',right_on='Country')
confirmed_cases_deaths.drop(columns='Country',inplace=True)
confirmed_cases_deaths

,Province/State,Country/Region,Lat,Long,Date,Confirmed Cases,Confirmed Deaths,Confirmed Recovered,Days Since 100 Cases,New Cases,New Deaths,Continent,ICU Beds,Doctors per 10000,Nurses per 10000,ICU Beds per 100000
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0,NaN,0,0.0,Asia,NaN,2.7,5.0,NaN
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0,NaN,0,0.0,Asia,NaN,2.7,5.0,NaN
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0,NaN,0,0.0,Asia,NaN,2.7,5.0,NaN
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0,NaN,0,0.0,Asia,NaN,2.7,5.0,NaN
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,0,NaN,0,0.0,Asia,NaN,2.7,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27715,NaN,Zimbabwe,-20.0,30.0,2020-05-06,34,4,5,NaN,0,0.0,Africa,NaN,0.8,13.4,NaN
27716,NaN,Zimbabwe,-20.0,30.0,2020-05-07,34,4,5,NaN,0,0.0,Africa,NaN,0.8,13.4,NaN
27717,NaN,Zimbabwe,-20.0,30.0,2020-05-08,34,4,9,NaN,0,0.0,Africa,NaN,0.8,13.4,NaN
27718,NaN,Zimbabwe,-20.0,30.0,2020-05-09,35,4,9,NaN,1,0.0,Africa,NaN,0.8,13.4,NaN
27719,NaN,Zimbabwe,-20.0,30.0,2020-05-10,36,4,9,NaN,1,0.0,Africa,NaN,0.8,13.4,NaN

In [16]:
pop_above_65 = pd.read_csv('Pop Above 65.csv')
pop_above_65.columns = ['Country/Region','% Population Above 65']
confirmed_cases_deaths = confirmed_cases_deaths.merge(pop_above_65,how='left')

In [17]:
pop_above_65.sort_values('% Population Above 65',ascending=False)

                                        Country/Region  % Population Above 65
117                                              Japan              27.576370
114                                              Italy              22.751680
192                                           Portugal              21.953858
73                                             Finland              21.720788
87                                              Greece              21.655272
53                                             Germany              21.461962
19                                            Bulgaria              21.021914
66                                           Euro area              20.600288
97                                             Croatia              20.445433
157                                              Malta              20.349324
221                                             Sweden              20.095525
143                                             Latvia              20.043620
75                                              France              20.034625
71                                      European Union              19.934522
56                                             Denmark              19.812953
141                                          Lithuania              19.705033
69                                             Estonia              19.626357
220                                           Slovenia              19.606880
52                                             Czechia              19.420877
68                                               Spain              19.378508
254                              Virgin Islands (U.S.)              19.288307
174                                        Netherlands              19.196193
99                                             Hungary              19.157725
12                                             Austria              19.001566
196                          Post-demographic dividend              18.954517
15                                             Belgium              18.788744
190                                        Puerto Rico              18.674850
35                                         Switzerland              18.623217
34                      Central Europe and the Baltics              18.460119
79                                      United Kingdom              18.395866
212                                             Serbia              18.345793
199                                            Romania              18.338701
93                                         High income              17.932044
188                                             Poland              17.517817
36                                     Channel Islands              17.297462
33                                              Canada              17.232007
179                                       OECD members              17.118618
175                                             Norway              17.049222
94                                Hong Kong SAR, China              16.875048
49                                             Curacao              16.684895
22                              Bosnia and Herzegovina              16.470317
246                                            Ukraine              16.434686
63                               Europe & Central Asia              16.348891
168                                      North America              15.952577
249                                                 US              15.807654
28                                            Barbados              15.802694
11                                           Australia              15.656475
178                                        New Zealand              15.652425
219                                           Slovakia              15.629246
48                                                Cuba              15.186211
160                                         Montenegro              14.974937
80                                             Georgia              14.865491
23                                             Belarus              14.845148
248                                            Uruguay              14.814520
112                                            Iceland              14.795093
200                                             Russia              14.674708
124                                       Korea, South              14.418556
142                                         Luxembourg              14.183154
109                                            Ireland              13.865802
3                                              Albania              13.744736
51                                              Cyprus              13.719062
155                                    North Macedonia              13.670181
0                                                Aruba              13.550947
229       Europe & Central Asia (IDA & IBRD countries)              12.575599
62       Europe & Central Asia (excluding high income)              12.046977
113                                             Israel              11.976986
231                                           Thailand              11.900893
37                                               Chile              11.529802
165                                          Mauritius              11.474173
148                                            Moldova              11.469556
206                                          Singapore              11.463380
8                                              Armenia              11.253818
7                                            Argentina              11.117789
38                                               China              10.920884
61                                 East Asia & Pacific              10.744358
240                                Trinidad and Tobago              10.734954
140                          Late-demographic dividend              10.723253
144                                   Macao SAR, China              10.484203
136                                          Sri Lanka              10.473220
247                                Upper middle income              10.037949
91                                                Guam               9.849911
131                                        Saint Lucia               9.806530
88                                             Grenada               9.621907
251                   Saint Vincent and the Grenadines               9.589787
46                                          Costa Rica               9.549848
228         East Asia & Pacific (IDA & IBRD countries)               9.498248
59         East Asia & Pacific (excluding high income)               9.496238
191                          Korea, Dem. People’s Rep.               9.334520
170                                      New Caledonia               9.174158
27                                              Brazil               8.922838
257                                              World               8.873442
10                                 Antigua and Barbuda               8.799826
47                              Caribbean small states               8.796659
115                                            Jamaica               8.796643
100                                          IBRD only               8.483780
242                                             Turkey               8.483213
43                                            Colombia               8.478047
132                          Latin America & Caribbean               8.438306
241                                            Tunisia               8.315679
197                                   French Polynesia               8.290508
209                                        El Salvador               8.287090
234  Latin America & the Caribbean (IDA & IBRD coun...               8.256209
126  Latin America & Caribbean (excluding high income)               8.242703
183                                             Panama               8.104731
184                                               Peru               8.088393
154                                      Middle income               7.637015
224                                         Seychelles               7.594546
118                                         Kazakhstan               7.391846
255                                            Vietnam               7.274978
252                                          Venezuela               7.266987
21                                             Bahamas               7.257602
101                                   IDA & IBRD total               7.224821
152                                             Mexico               7.223685
26                                             Bolivia               7.191947
64                                             Ecuador               7.157290
138                                Low & middle income               7.156651
57                                  Dominican Republic               7.082817
146                                            Morocco               7.012905
128                                            Lebanon               7.002368
218                                           Suriname               6.906370
167                                           Malaysia               6.671755
92                                              Guyana               6.450271
193                                           Paraguay               6.430215
58                                             Algeria               6.362497
13                                          Azerbaijan               6.195183
110                                               Iran               6.184574
107                                              India               6.179956
216                                       Small states               6.029569
30                                              Bhutan               6.003012
237                                              Tonga               5.953661
104                                          Indonesia               5.857166
238                            South Asia (IDA & IBRD)               5.840560
202                                         South Asia               5.840560
60                          Early-demographic dividend               5.817806
158                                              Burma               5.784642
176                                              Nepal               5.727671
137                                Lower middle income               5.529415
181                                 Other small states               5.492466
74                                                Fiji               5.449680
236  Middle East & North Africa (IDA & IBRD countries)               5.402515
159  Middle East & North Africa (excluding high inc...               5.375436
261                                       South Africa               5.318005
173                                          Nicaragua               5.247497
65                                               Egypt               5.229779
151                         Middle East & North Africa               5.182161
18                                          Bangladesh               5.158391
185                                        Philippines               5.122569
98                                               Haiti               4.949404
139                                            Lesotho               4.901087
29                                              Brunei               4.873148
90                                           Guatemala               4.812073
258                                              Samoa               4.800412
24                                              Belize               4.736459
95                                            Honduras               4.690618
45                                          Cabo Verde               4.609327
121                                           Cambodia               4.568680
5                                           Arab World               4.557876
195                        Pacific island small states               4.537317
54                                            Djibouti               4.527579
225                                              Syria               4.503124
120                                         Kyrgyzstan               4.494728
233                                       Turkmenistan               4.426634
250                                         Uzbekistan               4.419138
130                                              Libya               4.392040
235                                        Timor-Leste               4.316492
182                                           Pakistan               4.312774
31                                            Botswana               4.223874
161                                           Mongolia               4.083539
127                                               Laos               4.075150
222                                           Eswatini               4.014588
77                               Micronesia, Fed. Sts.               3.996804
122                                           Kiribati               3.952627
116                                             Jordan               3.846490
150                                           Maldives               3.703345
256                                            Vanuatu               3.640153
169                                            Namibia               3.636032
207                                    Solomon Islands               3.598950
105                                           IDA only               3.587593
204                                              Sudan               3.581161
78                                               Gabon               3.563907
102                                          IDA total               3.557491
133       Least developed countries: UN classification               3.540249
70                                            Ethiopia               3.501133
103                                          IDA blend               3.498860
72            Fragile and conflict affected situations               3.450848
187                                   Papua New Guinea               3.445269
214                                        South Sudan               3.398483
111                                               Iraq               3.323600
203                                       Saudi Arabia               3.314088
134                                         Low income               3.291172
16                                               Benin               3.253605
129                                            Liberia               3.253432
164                                         Mauritania               3.141112
194                                 West Bank and Gaza               3.133306
205                                            Senegal               3.086824
81                                               Ghana               3.068898
96              Heavily indebted poor countries (HIPC)               3.028409
232                                         Tajikistan               3.021888
41                                    Congo (Kinshasa)               3.017841
44                                             Comoros               3.007009
239          Sub-Saharan Africa (IDA & IBRD countries)               2.987706
215                                 Sub-Saharan Africa               2.987706
213         Sub-Saharan Africa (excluding high income)               2.987292
149                                         Madagascar               2.986717
208                                       Sierra Leone               2.966556
263                                           Zimbabwe               2.939524
201                                             Rwanda               2.938196
83                                              Guinea               2.926022
217                              Sao Tome and Principe               2.925678
163                                         Mozambique               2.890764
260                                        Yemen, Rep.               2.876270
211                                            Somalia               2.873311
230                                               Togo               2.869468
39                                       Cote d'Ivoire               2.858943
32                            Central African Republic               2.825774
85                                       Guinea-Bissau               2.823716
189                           Pre-demographic dividend               2.753814
172                                            Nigeria               2.747377
40                                            Cameroon               2.728877
42                                 Congo (Brazzaville)               2.681720
166                                             Malawi               2.645435
244                                           Tanzania               2.601299
171                                              Niger               2.595008
84                                              Gambia               2.589981
1                                          Afghanistan               2.584927
125                                             Kuwait               2.550472
156                                               Mali               2.507230
227                                               Chad               2.480519
86                                   Equatorial Guinea               2.457877
20                                             Bahrain               2.426334
17                                        Burkina Faso               2.406981
180                                               Oman               2.392787
119                                              Kenya               2.339187
14                                             Burundi               2.246940
2                                               Angola               2.216374
262                                             Zambia               2.099678
245                                             Uganda               1.940987
198                                              Qatar               1.370070
6                                 United Arab Emirates               1.085001
4                                              Andorra                    NaN
9                                       American Samoa                    NaN
25                                             Bermuda                    NaN
50                                      Cayman Islands                    NaN
55                                            Dominica                    NaN
67                                             Eritrea                    NaN
76                                       Faroe Islands                    NaN
82                                           Gibraltar                    NaN
89                                           Greenland                    NaN
106                                        Isle of Man                    NaN
108                                     Not classified                    NaN
123                              Saint Kitts and Nevis                    NaN
135                                      Liechtenstein                    NaN
145                           St. Martin (French part)                    NaN
147                                             Monaco                    NaN
153                                   Marshall Islands                    NaN

In [2]:
def create_ref_line(starting_value):
    '''
    Creates two reference points for Tableau to draw its trendline for a certain starting_value of confirmed cases
    '''
    length = 130
    x = list(range(length))
    y = np.zeros(length)
    df = pd.DataFrame({f'Days Since {starting_value} Cases':x,'Doubles in 2 Days':y,'Doubles in 3 Days':y,'Doubles in 4 Days':y,'Doubles in 5 Days':y,
                        'Doubles in 6 Days':y,'Doubles in 7 Days':y,'Doubles in 8 Days':y,'Doubles in 9 Days':y,'Doubles in 10 Days':y})
    df.iloc[0,1:] = starting_value
    
    for row in range(1,length):
        for step in range(2,11):
            df.loc[row,f'Doubles in {step} Days'] = df.loc[row-1,f'Doubles in {step} Days']*pow(2,1/step)
    return df

In [3]:
reference_lines = create_ref_line(100)
reference_lines = reference_lines.melt(id_vars=['Days Since 100 Cases']
                                       ,var_name='Doubles in N Days',value_name='Reference Cases')
reference_lines

      Days Since 100 Cases   Doubles in N Days  Reference Cases
0                        0   Doubles in 2 Days       100.000000
1                        1   Doubles in 2 Days       141.421356
2                        2   Doubles in 2 Days       200.000000
3                        3   Doubles in 2 Days       282.842712
4                        4   Doubles in 2 Days       400.000000
...                    ...                 ...              ...
1165                   125  Doubles in 10 Days    579261.875148
1166                   126  Doubles in 10 Days    620837.505643
1167                   127  Doubles in 10 Days    665397.163095
1168                   128  Doubles in 10 Days    713155.021452
1169                   129  Doubles in 10 Days    764340.626667

[1170 rows x 3 columns]

In [20]:
# Create folder and save csv's for Tableau to read
!mkdir Data
confirmed_cases_deaths.to_csv('Data/confirmed_cases_deaths.csv')
reference_lines.to_csv('Data/reference_lines.csv')

A subdirectory or file Data already exists.